
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.title{
    font-size: 1000%;
    background-image:url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1601196595039-74c770ae3385%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax");
    background-size: 100%;
    height: 120%;
    color:rgb(72, 21, 255);
    text-align: right;
    text-shadow: 5px 5px black;

    }
    
.subtext{
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px rgb(245, 244, 244);
}

.title,.subtext {
    font-family: 'Syne Mono', monospace;
}

/* .homeContainer{
    background-image:url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1601196595039-74c770ae3385%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax") ;
} */