/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

#container {
  width: 100%;
  display: inline-block;
}

/** HEADER */

/** NAVIGATION BAR */
nav {
  overflow: auto;
  background-color: #7851a9;
  position: fixed;
  top: 0;
  width: 100%;
/* a {
  color: red;
  text-decoration: none;
  padding: 14px;
  background-color: white;
        }
  } */
    }

#link {
  color: silver;
}



.content {
  text-align: center;
}