/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

#container {
  width: 50%;
}

/** HEADER */

/** NAVIGATION BAR */
nav {
  overflow: auto;
  background-color: #7851a9;
  position: fixed;
  top: 0;
  width: 100%;
  
    }

#link {
  color: silver;
  font-size: 25px;
}

#link:hover{
  color: black;
  font-size: 25px;

}


.content {
  text-align: center;
}

/* .logo{
  height: 150px;
} */