/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


#container {
  width: 50%;
}

/** HEADER */

/** NAVIGATION BAR */
nav {
  overflow: auto;
  background-color: rgb(53, 8, 218);
  position: fixed;
  top: 0;
  width: 100%;
  
    }

#link {
  color: silver;
  font-size: 25px;
}

#link:hover{
  color: black;
  font-size: 25px;
  font-family: 'Syne Mono', monospace;

}


.content {
  text-align: center;

}

/* .logo{
  height: 150px;
} */